extends layout

block content
  h1 Task List
  form(action="/add-task" method="POST" enctype="multipart/form-data")
    input(type="text" name="name" placeholder="Task name" required)
    input(type="text" name="description" placeholder="Task description" required)
    input(type="file" name="file")
    button(type="submit") Add Task
  form(action="/filter" method="GET")
    select(name="status")
      option(value="none") none
      option(value="pending") pending
      option(value="done") done
      option(value="rejected") rejected
    button(type="submit") Update
  div
    each task in tasks
      if task.photo
        img(src=task.photo)
      strong #{task.name}: 
      br
      |  #{task.description}
      form(action="/update-task" method="POST")
        input(type="date" name="date" value=task.date)
        input(type="hidden" value=task.id name="taskId")
        select(name="status") 
          each skill in ["pending", "done", "rejected"]
            option(value=skill, selected=task.status === skill)= skill
        button(type="submit") Update
      form(action="/delete-task" method="POST")
        input(type="hidden" value=task.id name="taskId")
        button(type="submit") Delete
      br